<!-- Describe task in general -->

<p>
   Ви повинні розділити даний {% if is_js %}масив{% else %}список{% endif %} на два
   {% if is_js %}масиви{% else %}списки{% endif %} всередині {% if is_js %}масиву{% else %}ітерованого об'єкта{% endif %}.
   Якщо вхідна послідовність  має непарну кількість елементів, то перший з
   {% if is_js %}масивів{% else %}списків{% endif %} всередині вихідного
   {% if is_js %}масиву{% else %}ітерованого об'єкта{% endif %} повинен мати більше елементів.
   Якщо у вхідній послідовності немає елементів, слід повернути два порожні
   {% if is_js %}масиви{% else %}списки{% endif %} всередині {% if is_js %}масиву{% else %}ітерованого об'єкта{% endif %}.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %}.
</p>

<p>
    <strong>Вихідні дані:</strong> {% if is_js %}Масив з двох масивів{% else %}Ітерований об'єкт з двох списків{% endif %}.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
