<!-- Describe task in general -->

<p>
    You have to split a given array into two arrays. If it has an odd amount of elements, then the first array should have more elements. If it has no elements, then two empty arrays should be returned.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input: </strong> {% if interpreter.slug == "js-node" %}List{% else %}Array{% endif %}.
</p>

<p>
    <strong>Output: </strong> {% if interpreter.slug == "js-node" %}List of two lists{% else %}Array or two arrays{% endif %}.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">splitList([1, 2, 3, 4, 5, 6]) == [[1, 2, 3], [4, 5, 6]]
splitList([1, 2, 3]) == [[1, 2], [3]]
splitList([1, 2, 3, 4, 5]) == [[1, 2, 3], [4, 5]]
splitList([1]) == [[1], []]
splitList([]) == [[], []]
</pre>
{% else %}
<pre class="brush: python">split_list([1, 2, 3, 4, 5, 6]) == [[1, 2, 3], [4, 5, 6]]
split_list([1, 2, 3]) == [[1, 2], [3]]
</pre>
{% endif %}
</div>
