<!-- Describe task in general -->

<p>
    You have to split a given {% if is_js %}Array{% else %}list{% endif %} into
    two {% if is_js %}Arrays inside an Array{% else %}lists inside an Iterable{% endif %}.
    If input sequence has an odd amount of elements, then the first {% if is_js %}Array{% else %}list{% endif %}
    inside result {% if is_js %}Array{% else %}Iterable{% endif %} should have more elements.
    If input sequence has no elements, then two empty {% if is_js %}Arrays{% else %}lists{% endif %} inside result {% if is_js %}Array{% else %}Iterable{% endif %} should be returned.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}An Array{% else %}A list{% endif %}.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}Array of two arrays{% else %}Iterable of two lists{% endif %}.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
